<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_variables.less">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_bootswatch.scss">

    <link rel="stylesheet" href="static/css/registration.css">
    <link rel="stylesheet" href="static/css/custom.css">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous" defer></script>
    <!-- Bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous" defer></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <!-- Dragula js -->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>-->

    <!-- MY JAVASCRIPT FILES -->
    <script src="static/js/main.js" defer></script>
    <script src="static/js/dom.js" defer></script>
    <script src="static/js/data_handler.js" defer></script>


    <title>Registration</title>
</head>
<body>


<div th:replace="navbar.html :: copy"></div>

<div class="container" style="margin-bottom: 15px">
    <div class="col-lg-6 col-lg-offset-3">
        <h3 class="bg-success text-white p-5">Registration</h3>
        <form id="registration-form" action="/registration" method="post">
            <div class="form-group mx-auto">

                <div>
                    <label for="first-name">First Name</label>
                    <input id="first-name" class="form-control" type="text" name="first_name" placeholder="First Name" required>
                </div>
                <br>

                <div>
                    <label for="surname">Surname</label>
                    <input id="surname" class="form-control" type="text" name="surname" placeholder="Surname" required ><br>
                </div>

                <div id="status_selection">
                    <label for="user-type">I am registering as a: </label>
                    <select id="user-type" name="user_type" form="registration-form">
                        <option value="LANDLORD" selected>Landlord</option>
                        <option value="PROPERTY_MANAGER">Property Manager</option>
                        <option value="TENANT">Tenant</option>
                    </select>
                </div>
                <br>

                <div>
                    <label id="email-address-label" th:data-email-list="${registeredEmailAddresses}" for="email-address">Email Address</label>
                    <input id="email-address" class="form-control" type="email" name="email" placeholder="Email Address" required><br>
                </div>

                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Minumum 8, maximum 40 character long" pattern=".{8,40}" required><br>

                <label id="password-confirmation-label" for="password_confirmation">Confirm Password</label>
                <input class="form-control" type="password" name="password_confirmation" id="password_confirmation" placeholder="Minumum 8, maximum 40 character long" pattern=".{8,40}" required ><br>

                <label for="phone-input">Phone Number</label>
                <input id="phone-input" class="form-control" type="text"  name="phone_number" placeholder="e.g. +36-20-556-1234" required><br>

                <div class="form-group">
                    <h3 class="bg-success text-white p-5">Address</h3>

                    <label for="country-input">Country</label>
                    <input id="country-input" class="form-control" type="text" name="country" required><br>

                    <label for="city-input">City</label>
                    <input id="city-input" class="form-control" type="text" name="city" required><br>

                    <label for="zip-input">Zip code</label>
                    <input id="zip-input" class="form-control" type="text" name="zip_code" required><br>

                    <label for="address-input">Address</label>
                    <input id="address-input" class="form-control" type="text" name="address" required>
                </div>

                <button form="registration-form" type="submit" value="Submit" id="submit" class="btn btn-primary btn-block" disabled>Submit</button>
            </div>
        </form>
    </div>
</div>
<!--<script>-->

    <!--function allowMatchingPasswords(){-->
        <!--let firstPassword = document.querySelector("#password");-->
        <!--let secondPassword = document.querySelector("#password_confirmation");-->
        <!--let passwordConfirmationLabel = document.querySelector("#password-confirmation-label");-->
        <!--let button = document.querySelector("#submit");-->

        <!--secondPassword.addEventListener("change", function (evt) {-->
            <!--if (firstPassword.value === secondPassword.value) {-->
                <!--button.disabled = false;-->
                <!--passwordConfirmationLabel.innerHTML = "Passwords match.";-->
                <!--passwordConfirmationLabel.classList.add("color-text-green");-->
            <!--} else {-->
                <!--passwordConfirmationLabel.classList.remove("color-text-green");-->
                <!--passwordConfirmationLabel.innerHTML = "Passwords do not match.";-->
                <!--passwordConfirmationLabel.classList.add("color-text-red");-->
                <!--button.disabled = true;-->
            <!--}-->
        <!--})-->
    <!--}-->

    <!--function checkIfEmailRegistered(){-->
        <!--let emailAddressLabel = document.querySelector("#email-address-label");-->
        <!--let emailArray = JSON.parse(emailAddressLabel.dataset.emailList);-->
        <!--let inputFieldEmailAddress = document.querySelector("#email-address");-->
        <!--let button = document.querySelector("#submit");-->

        <!--inputFieldEmailAddress.addEventListener(-->
            <!--"change", function (evt) {-->

                <!--for (let registeredEmail of emailArray) {-->
                    <!--if (registeredEmail == inputFieldEmailAddress.value) {-->
                        <!--emailAddressLabel.classList.remove("color-text-green");-->
                        <!--emailAddressLabel.innerHTML = "Email address is already registered. Please choose another one:";-->
                        <!--emailAddressLabel.classList.add("color-text-red");-->
                        <!--button.disabled = true;-->
                        <!--break;-->
                    <!--}-->
                    <!--emailAddressLabel.innerHTML = "Email address is OK:";-->
                    <!--emailAddressLabel.classList.remove("color-text-red");-->
                    <!--emailAddressLabel.classList.add("color-text-green");-->
                    <!--button.disabled = false;-->
                <!--}-->
            <!--}-->
        <!--);-->




    <!--}-->

    <!--allowMatchingPasswords();-->
    <!--checkIfEmailRegistered()-->

<!--</script>-->
</body>
</html>