<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header_template.html :: head-fragment">
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Lodgings Manager</title>
</head>

<body>
<div th:replace="navbar.html :: copy"></div>

<input type="hidden" id="user-type" th:value="${userData.getUserType()}">

<div id="profile-data" class="row">
    <div id="data-list" class="col-sm-3">
        <!--left col-->
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">First Name: </strong></span>
                <span th:text="${userData.getFirstName()}">First Name</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname: </strong></span>
                <span th:text="${userData.getSurname()}">Surname</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Cellphone Number: </strong></span>
                <span th:text="${userData.getPhoneNumber()}">Cellphone Number</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span>
                <span th:text="${userData.getEmail()}">Email</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Country: </strong></span>
                <span th:text="${userData.getCountry()}">Country</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">City: </strong></span>
                <span th:text="${userData.getCity()}">City</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Zipcode: </strong></span>
                <span th:text="${userData.getZipCode()}">Zipcode</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Address: </strong></span>
                <span th:text="${userData.getAddress()}">Address</span></li>
        </ul>
        <form id="edit-button" method="get" action="/edit-profile">
            <button type="submit" class="btn btn-info">Edit Profile</button>
        </form>

        <form id="add-lodgings-button" method="get" action="/add-lodgings">
            <button type="submit" class="btn btn-secondary">Add new lodgings</button>
        </form>
    </div>
</div>

<div id="add">
    <div th:each="lodging : ${lodgings}" class="panel panel-default">
        <div class="panel-heading" th:text="${lodging.getName()}"><b>Lodging Name</b></div>
        <div class="panel-body">
            <ul>
                <h4>Address</h4>
                <li class="new-row">
                    <div class="new-column"><span>Country:  </span><span th:text="${lodging.getCountry()}">price</span>
                    </div>
                    <div class="new-column"><span>City: </span><span
                            th:text="${lodging.getCity()}">electricity bill</span></div>
                </li>
                <li class="new-row">
                    <div class="new-column"><span>Zipcode:  </span><span th:text="${lodging.getZipCode()}">price</span>
                    </div>
                    <div class="new-column"><span>Address: </span><span th:text="${lodging.getAddress()}">electricity bill</span>
                    </div>
                </li>
                <h4>Overhead Costs</h4>
                <li class="new-row">
                    <div class="new-column"><span>Daily Price:  </span><span
                            th:text="${lodging.getPricePerDay()}">price</span></div>
                    <div class="new-column"><span>Electricity Bill: </span><span
                            th:text="${lodging.getElectricityBill()}">electricity bill</span></div>
                </li>
                <li class="new-row">
                    <div class="new-column"><span>Gasbill:  </span><span th:text="${lodging.getGasBill()}">price</span>
                    </div>
                    <div class="new-column"><span>Telecommunication Bill: </span><span
                            th:text="${lodging.getTelecommunicationBill()}">electricity bill</span></div>
                </li>
                <li class="new-row">
                    <div class="new-column"><span>Cleaning Cost:  </span><span
                            th:text="${lodging.getTelecommunicationBill()}">price</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>