<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Lodgings Manager</title>


    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/variables.less">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_bootswatch.scss">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">
                <strong>Lodgings Manager</strong> <span class="sr-only">(current)</span>
            </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/registration" class="btn btn-default">Register</a>
                </li>
                <li>
                    <a href="/login" class="btn btn-default">Login</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>

<input type="hidden" id="user-type" th:value="${userData.getUserType()}">

<div id="profile-data" class="row">
    <div class="col-sm-3">
        <!--left col-->
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">First Name: </strong></span>
                <span th:text="${userData.getFirstName()}">First Name</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname: </strong></span>
                <span th:text="${userData.getSurname()}">Surname</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Cellphone Number: </strong></span>
                <span th:text="${userData.getPhoneNumber()}">Cellphone Number</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span>
                <span th:text="${userData.getEmail()}">Email</span> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Country: </strong></span>
                <span th:text="${userData.getCountry()}" Country> </span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">City: </strong></span>
                <span th:text="${userData.getCity()}">City</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Zipcode: </strong></span>
                <span th:text="${userData.getZipCode()}">Zipcode</span> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Address: </strong></span>
                <span th:text="${userData.getAddress()}">Address</span></li>
        </ul>
        <form id="edit-button" method="get" action="/edit-profile">
            <button type="submit" class="btn btn-info">Edit Profile</button>
        </form>
        <form id="add-lodgings" method="get" action="/add-lodgings">
            <button form="add-lodgings" type="submit" class="btn btn-secondary">Add Lodging</button>
        </form>
    </div>
    <!--<div th:each="${userData.get}" class="col-sm-9" contenteditable="false">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading"><b>Shared Treatment Section</b></div>-->
            <!--<div class="panel-body"><i>Select the plan corresponding to your need. You will be redirected to the access page where you can edit the selected pre-made scheme.</i><br>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

<script>
    function search(){
        search = document.querySelector("#search");

        search.addEventListener("keyup", function () {
            axios.get('/search', {
                params: {
                    keyWord: search.value
                }
            })
                .then(function (response) {
                    document.querySelector("#products").innerHTML = response.data;
                });
        });
    }
    search();
</script>

<script id="add" type="text/html">
    <div class="panel panel-default">
    <div class="panel-heading"><b>Shared Treatment Section</b></div>
    <div class="panel-body"><i>Select the plan corresponding to your need. You will be redirected to the access page where you can edit the selected pre-made scheme.</i><br>

    </div>
    </div>
</script>

<script>
    function checkUserType() {
        if (document.getElementById("user-type").value === "LANDLORD"){
            let div = document.createElement('div');
            div.setAttribute('class', 'col-sm-9');
            div.setAttribute('contenteditable', 'false');
            div.innerHTML = document.getElementById('add').innerHTML;
            document.getElementById('profile-data').appendChild(div);        }

    }
    checkUserType();
</script>

</body>
</html>